.header{
    font-size: 20px;
    line-height: 1.5;
    margin: 60px auto;
}
.header samp {
    display: block;

}
.section{
    padding: 30px 0;
}
.form{
    border: solid #2727d9;
    padding: 35px 20px;
}
.form-control{
    margin-bottom: 12px;
}
.form-header, .section-header {
    margin-bottom: 20px;
    font-style: 20px;
    font-weight: 900;
}
.form-btn{
    background-color:#2727d9 ;
    margin: 10px auto;
}
.feature{
    margin: 60p auto;
}
.feature p {
    margin-top: 20px;
}