html {
  font-style: 10px;
}
.button {
  background-color: #fcb303;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 8px;
  text-transform: uppercase;
  border: none;
}
section {
  padding: 10rem 0;
}
main {
  padding: 3rem;
}
.phone-link {
  display: inline-block;
  color: #1a1820;
  font-weight: 900;
  font-size: 2rem;
  height: 7rem;
  line-height: 7rem;
}
